body {
  width: 800px;
}

img {
  width: 200px;
  height: 200px;
  border-radius: 100px;
  margin-bottom: -110px;
  border: 4px solid rgb(56, 55, 55);
}

main {
  background-color: rgb(224, 108, 80);
  padding: 100px 20px 10px 20px;
  border-radius: 10px;
  border: 4px solid rgb(56, 55, 55);
}

span {
  color: rgb(87, 25, 14);
}

a {
  font-size: 25px;
  text-decoration: none;
  color: rgb(104, 100, 100);
  margin-top: 50px;
  display: inline-block;
}
